<a href="https://colab.research.google.com/github/OshankAgrawal/Learning-R-Programming/blob/main/04-R-Data-Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **R Data Types**

Different forms of data that can be saved and manipulated are defined and categorized using data types in computer languages, including R. Each R data type has unique properties and associated operations.

**What are R Data types?**

R Data types are used to specify the kind of data that can be stored in a variable.

For effective memory consumption and precise computation, the right data type must be selected.

Each R data type has its own set of regulations and restrictions.

Variables are not needed to be declare with a data type in R, data type even can be changed.

**Example of R data Type:**

In [ ]:
#numeric data type
var <- 30
#integer data type
var1 <- 80L
print(class(var))
print(class(var1))

[1] "numeric"
[1] "integer"

**Data Types in R Programming Language**

Each variable in R has an associated data type. Each R-Data Type requires different amounts of memory and has some specific operations which can be performed over it.

**Data Types in R are:**

**numeric** – (3,6.7,121)

**Integer** – (2L, 42L; where ‘L’ declares this as an integer)

**logical** – (‘True’)

**complex** – (7 + 5i; where ‘i’ is imaginary number)

**character** – (“a”, “B”, “c is third”, “69”)

**raw** – ( as.raw(55); raw creates a raw vector of the specified length)

1. **Numeric Data type in R**

Decimal values are called numeric in R. It is the default  R data type for numbers in R.

If you assign a decimal value to a variable x as follows, x will be of numeric type.

Real numbers with a decimal point are represented using this data type in R. It uses a format for double-precision floating-point numbers to represent numerical values.

In [ ]:
# A simple R program
# to illustrate Numeric data type

# Assign a decimal value to x
x = 5.6

# print the class name of variable
print(class(x))

# print the type of variable
print(typeof(x))

[1] "numeric"
[1] "double"

Even if an integer is assigned to a variable y, it is still saved as a numeric value.

In [ ]:
# A simple R program
# to illustrate Numeric data type

# Assign an integer value to y
y = 5

# print the class name of variable
print(class(y))

# print the type of variable
print(typeof(y))

[1] "numeric"
[1] "double"

When R stores a number in a variable, it converts the number into a “double” value or a decimal type with at least two decimal places.

This means that a value such as “5” here, is stored as 5.00 with a type of double and a class of numeric. And also y is not an integer here can be confirmed with the is.integer() function.

In [ ]:
# A simple R program
# to illustrate Numeric data type

# Assign a integer value to y
y = 5

# is y an integer?
print(is.integer(y))

[1] FALSE

2. **Integer Data type in R**

R supports integer data types which are the set of all integers.

You can create as well as convert a value into an integer type using the as.integer() function.

You can also use the capital ‘L’ notation as a suffix to denote that a particular value is of the integer R data type.

In [ ]:
# A simple R program
# to illustrate integer data type

# Create an integer value
x = as.integer(5)

# print the class name of x
print(class(x))

# print the type of x
print(typeof(x))

# Declare an integer by appending an L suffix.
y = 5L

# print the class name of y
print(class(y))

# print the type of y
print(typeof(y))

[1] "integer"
[1] "integer"
[1] "integer"
[1] "integer"

3. **Logical Data type in R**

R has logical data types that take either a value of true or false.

A logical value is often created via a comparison between variables.

Boolean values, which have two possible values, are represented by this R data type: FALSE or TRUE

In [ ]:
# A simple R program
# to illustrate logical data type

# Sample values
x = 4
y = 3

# Comparing two values
z = x > y

# print the logical value
print(z)

# print the class name of z
print(class(z))

# print the type of z
print(typeof(z))

[1] TRUE
[1] "logical"
[1] "logical"

4. **Complex Data type in R**

R supports complex data types that are set of all the complex numbers. The complex data type is to store numbers with an imaginary component.

In [ ]:
# A simple R program
# to illustrate complex data type

# Assign a complex value to x
x = 4 + 3i

# print the class name of x
print(class(x))

# print the type of x
print(typeof(x))

[1] "complex"
[1] "complex"

5. **Character Data type in R**

R supports character data types where you have all the alphabets and special characters.

It stores character values or strings. Strings in R can contain alphabets, numbers, and symbols.

The easiest way to denote that a value is of character type in R data type is to wrap the value inside single or double inverted commas.

In [ ]:
# A simple R program
# to illustrate character data type

# Assign a character value to char
char = "Oshank Agrawal"

# print the class name of char
print(class(char))

# print the type of char
print(typeof(char))

[1] "character"
[1] "character"

There are several tasks that can be done using R data types. Let’s understand each task with its action and the syntax for doing the task along with an R code to illustrate the task.

6. **Raw data type in R**

To save and work with data at the byte level in R, use the raw data type. By displaying a series of unprocessed bytes, it enables low-level operations on binary data. Here are some speculative data on R’s raw data types:

In [ ]:
# Create a raw vector
x <- as.raw(c(0x1, 0x2, 0x3, 0x4, 0x5))
print(x)

[1] 01 02 03 04 05

Five elements make up this raw vector x, each of which represents a raw byte value.

**Find Data Type of an Object in R**

To find the data type of an object you have to use class() function. The syntax for doing that is you need to pass the object as an argument to the function class() to find the data type of an object.

**Syntax:**

**class(object)**

In [ ]:
# A simple R program
# to find data type of an object

# Logical
print(class(TRUE))

# Integer
print(class(3L))

# Numeric
print(class(10.5))

# Complex
print(class(1+2i))

# Character
print(class("12-04-2020"))

[1] "logical"
[1] "integer"
[1] "numeric"
[1] "complex"
[1] "character"

**Type verification**

You can verify the data type of an object, if you doubt about it’s data type.

To do that, you need to use the prefix “is.” before the data type as a command.

**Syntax:**

**is.data_type(object)**

In [ ]:
# A simple R program
# Verify if an object is of a certain datatype

# Logical
print(is.logical(TRUE))

# Integer
print(is.integer(3L))

# Numeric
print(is.numeric(10.5))

# Complex
print(is.complex(1+2i))

# Character
print(is.character("12-04-2020"))

print(is.integer("a"))

print(is.numeric(2+3i))

[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] FALSE
[1] FALSE

**Convert the Data Type of an Object to Another**

The process of altering the data type of an object to another type is referred to as coercion or data type conversion. This is a common operation in many programming languages that is used to alter data and perform various computations.

When coercion is required, the language normally performs it automatically, whereas conversion is performed directly by the programmer.

Coercion can manifest itself in a variety of ways, depending on the R programming language and the context in which it is employed.

In some circumstances, the coercion is implicit, which means that the language will change one type to another without the programmer having to expressly request it.

**Syntax**

**as.data_type(object)**

**Note: All the Conversion of the Data Type are not possible and if attempted will be returning an “NA” value.**

In [ ]:
# A simple R program
# convert data type of an object to another

# Logical
print(as.numeric(TRUE))

# Integer
print(as.complex(3L))

# Numeric
print(as.logical(10.5))

# Complex
print(as.character(1+2i))

# Can't possible
print(as.numeric("12-04-2020"))

[1] 1
[1] 3+0i
[1] TRUE
[1] "1+2i"

Warning message in print(as.numeric("12-04-2020")):
“NAs introduced by coercion”

[1] NA