<a href="https://colab.research.google.com/github/OshankAgrawal/Learning-R-Programming/blob/main/M%2010-Built-in-functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Built-in functions in R Programming**

The functions which are already created or defined in the programming framework are known as a built-in function. R has a rich set of functions that can be used to perform almost every task for the user.

Here we will discuss only some important built-in functions.

1. **mean():** Calcualates the arithmetic mean(average) of a numeric vector.

**Example:**

In [ ]:
x <- c(1,2,3,4,5,6,7,8,9)
mean(x)

[1] 5

2. **median():** Computes the median of a numeric vector, which is the middle value when the numbers are sorted.

**Example:**

In [ ]:
y <- c(1, 3, 3, 6, 7, 8, 9)
median(y)

[1] 6

3. **quantile():** Computes the quantiles of a numeric data set, which divide the data into intervals with equal probabilities.

**Example:**

In [ ]:
q <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
quantile(q, probs = c(0.25))
quantile(q, probs = c(0.5))
quantile(q, probs = c(0.75))

 25%
3.25

50%
5.5

 75%
7.75

4. **sum():** Return the sum of all elements in a numeric vector.

**Example:**

In [ ]:
x <- c(1,1,2,3,4,5,6,7,8,9)
sum(x)

[1] 46

5. **range():** Return the minimum and maximum values of a numeric vector.

**Example:**

In [ ]:
x <- c(1,1,2,3,4,5,6,7,8,9)
range(x)

[1] 1 9

6. **sqrt():** Compute the square root of each element in a numeric vector.

**Example:**

In [ ]:
x <- c(4,9,16,144)
sqrt(x)

[1]  2  3  4 12

7. **abs():** Return the absolute value of each element in a numeric vector.

**Example:**

In [ ]:
x <- c(-1, -2, 34, 5345, -1324)
abs(x)

[1]    1    2   34 5345 1324

8. **celing():** Rounds each element of a numeric vector up to the nearist integer.

**Example:**

In [ ]:
x <- c(1.2, 2.7, 3.5)
ceiling(x)

[1] 2 3 4

9. **floor():** Rounds each element  of a numeric vector down to the nerest integer.

**Example:**

In [ ]:
x <- c(1.2, 2.7, 3.5)
floor(x)

[1] 1 2 3

10. **min():** Return the smallest value in a numeric vector.

**Example:**

In [ ]:
x <- c(5, 10, 15, 32, 3, 356, 45, 6)
min(x)

[1] 3

11. **max():** Return the largest value in a numeric vector.

**Example:**

In [ ]:
x <- c(5, 10, 15, 32, 3, 356, 45, 6)
max(x)

[1] 356

12. **sin():** Compute the sine of each element of a numeric vector (angles are in radians).

**Example:**

In [ ]:
x <- c(0, pi, pi/2, 2*pi)
sin(x)

[1]  0.000000e+00  1.224647e-16  1.000000e+00 -2.449294e-16

13. **cos():** Compute the cosine of each element of a numeric vector (angles are in radians).

**Example:**

In [ ]:
x <- c(0, pi, pi/2, 2*pi)
cos(x)

[1]  1.000000e+00 -1.000000e+00  6.123234e-17  1.000000e+00

14. **tan():** Compute the tangent of each element of a numeric vector (angles are in radians).

**Example:**

In [ ]:
x <- c(0, pi, pi/2, 2*pi)
tan(x)

[1]  0.000000e+00 -1.224647e-16  1.633124e+16 -2.449294e-16

15. **log():** Compute the natural logarithm (base `e`) of each element in a numeric vector.

**Example:**

In [ ]:
x <- c(1,10,100)
log(x)

[1] 0.000000 2.302585 4.605170

16. **log10():** Compute the logarithm base 10 of each element in a numeric vector.

**Example:**

In [ ]:
x <- c(1,10,100)
log10(x)

[1] 0 1 2

17. **exp():** Compute the exponential function (e^x) of each element in a numeric vector.

**Example:**

In [ ]:
x <- c(1,2,3,4,5,6,7,8,9)
exp(x)

[1]    2.718282    7.389056   20.085537   54.598150  148.413159  403.428793
[7] 1096.633158 2980.957987 8103.083928

18. **sd():** Copmute the standard deviation of a numeric vector.

**Example:**

In [ ]:
x <- c(1,2,3,4,5,6,7,8,9,10,324,34,54,57,67,43,634)
sd(x)

[1] 163.2479

19. **as.numeric():** Converts an object to a numeric type.

**Example:**

In [ ]:
x <- c("1","2","3")
as.numeric(x)

[1] 1 2 3

In [ ]:
# A simple R program to convert
# character data type into numeric data type
x<-c('1', '2', '3')

# Print x
print(x)

# Print the type of x
print(typeof(x))

# Conversion into numeric data type
y<-as.numeric(x)

# print the type of y
print(typeof(y))

[1] "1" "2" "3"
[1] "character"
[1] "double"

20. **as.integer():** Convert an object to an integer type.

**Example:**

In [ ]:
x <- c(1.2,2.5,3.8)
as.integer(x)

[1] 1 2 3

In [ ]:
# A simple R program to convert
# numeric data type into integer data type
x<-c(1.3, 5.6, 55.6)

# Print x
print(x)

# Print type of x
print(typeof(x))

# Conversion into integer data type
y<-as.integer(x)

# Print y
print(y)

# Print type of y
print(typeof(y))

[1]  1.3  5.6 55.6
[1] "double"
[1]  1  5 55
[1] "integer"

21. **as.character():** Convert an object to a character type.

**Example:**

In [ ]:
x <- c(1,2,3,4)
as.character(x)

[1] "1" "2" "3" "4"

In [ ]:
x<-c(1.3, 5.6, 55.6)

# Print x
print(x)

# Print type of x
print(typeof(x))

# Conversion into character data type
y<-as.character(x)

# Print y
print(y)

# Print type of y
print(typeof(y))

[1]  1.3  5.6 55.6
[1] "double"
[1] "1.3"  "5.6"  "55.6"
[1] "character"

22. **as.logical():** Converts an object to a logical type (TRUE or FALSE).

**Example:**

In [ ]:
x <- c(1,0,-3,4)
as.logical(x)

[1]  TRUE FALSE  TRUE  TRUE

In [ ]:
x = 3
y = 8

# Conversion in to logical value
result<-as.logical(x>y)

# Print result
print(result)

[1] FALSE

23. **as.Date():** Convert an object to a data type.

**Example:**

In [ ]:
x <- "2003/08/24"
as.Date(x)

[1] "2003-08-24"

In [ ]:
dates <- c("02/27/92", "02/27/92",
		"01/14/92", "02/28/92",
		"02/01/92")

# Conversion into date format
result<-as.Date(dates, "%m/%d/%y")

# Print result
print(result)

[1] "1992-02-27" "1992-02-27" "1992-01-14" "1992-02-28" "1992-02-01"

24. **as.data.frame():** Convert an object to a dataframe.

**Example:**

In [ ]:
x <- matrix(1:6, nrow=2)
as.data.frame(x)

  V1 V2 V3
1 1  3  5
2 2  4  6

In [ ]:
x<- list( c('a', 'b', 'c'),
c('e', 'f', 'g'), c('h', 'i', 'j'))

# Print x
print(x)

# Conversion in to data frame
y<-as.data.frame(x)

# Print y
print(y)

[[1]]
[1] "a" "b" "c"

[[2]]
[1] "e" "f" "g"

[[3]]
[1] "h" "i" "j"

  c..a....b....c.. c..e....f....g.. c..h....i....j..
1                a                e                h
2                b                f                i
3                c                g                j

25. **as.vector():** Convert an object to a vector.

**Example:**

In [ ]:
x <- matrix(1:4, nrow=2)
as.vector(x)

[1] 1 2 3 4

In [ ]:
x<-c(a=1, b=2)

# Print x
print(x)

# Conversion into vector
y<-as.vector(x)

# Print y
print(y)

a b
1 2
[1] 1 2

26. **as.matrix():** Converts an object to a matrix.

**Example:**

In [ ]:
x <- data.frame(a=1:3,b=4:6)
as.matrix(x)

     a b
[1,] 1 4
[2,] 2 5
[3,] 3 6

In [ ]:
# Importing library
library(data.table)
x <- data.table(A = letters[1:5], X = 1:5, Y = 6:10)

# Print x
print(x)

# Conversion into matrix
z<-as.matrix(x)

# Print z
print(z)

        A     X     Y
   <char> <int> <int>
1:      a     1     6
2:      b     2     7
3:      c     3     8
4:      d     4     9
5:      e     5    10
     A   X   Y
[1,] "a" "1" " 6"
[2,] "b" "2" " 7"
[3,] "c" "3" " 8"
[4,] "d" "4" " 9"
[5,] "e" "5" "10"

These built-in functions are essential for various data manipulation and analysis tasks in R. They allow you to efficiently work with different data types and perform mathematical, statistical, and data conversion operations.

These are only few functions, R has numerous number of built-in functions.